<div class="forget-password-page">
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form (ngSubmit)="handlePasswordReset()">
    <h3>Forgot Your Password?</h3>

    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      [(ngModel)]="email"
      name="email"
      placeholder="Email Address"
      required
    />

    <button type="submit" [disabled]="!email">Send Link</button>

    <div class="message" *ngIf="message">{{ message }}</div>
  </form>
</div>
